.article {
    border-radius: 20px;
    border: 2px solid var(--header-footer-color);
    height: 400px;
    cursor: pointer;
    &:hover {
        img {
            transform: scale(1.1);
        }
        .articleTitle {
            color: var(--logo-blue)
        }
    }
}

.imageContainer {
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    img {
        transition: 1s transform;
        width: 100%;
    }
}

.articleTitle {
    height: 100px;
    transition: 0.2s color;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}