.article {
    border-radius: 20px;
    border: 2px solid var(--header-footer-color);
    height: 400px;
}

.imageContainer {
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    justify-content: center;
    img {
        height: auto;
        width: auto;
    }
}

.articleTitle {
    height: 100px;
    transition: 0.2s color;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.description {
    font-size: 1rem;
    text-align: center;
}

.addCart{
    width: 90%;
    border: solid 1px var(--header-footer-color);
    border-radius: 20px;
    color: white;
    background-color: var(--logo-blue);
    height: 60px;
    cursor: pointer;
};