.btnClose {
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 1.5rem;
};

.cartPopUp {
    display: grid;
    position: fixed;
    place-items: center;
    left:0;
    top:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
};

.cartContainer {
    background-color: white;
    padding: 10px 0 10px 0;
    border-radius: 20px;
    width: 90%;
}

.box {
    width: 70%;
    border: 1px solid var(--logo-blue);
    border-radius: 10px;
    background-color: var(--main-background-color, 1);
    position: relative;
    overflow: auto;
    height: 90vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
};

.article{
    border-radius: 20px;
    background-color: var(--header-footer-color);
    margin: 10px;
    width: 60%;
    height: 150px;
}

.articleResume{
    justify-content: space-between;
}
.imageContainer {
    width: 180px;
    justify-content: center;
    img {
        height: 120px;
        width: auto;
        max-width: 100%;
        overflow: hidden;
    }
}

.logoContainer img {
    height: 150px;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dateContainer {
    width: 50%;
    justify-content: space-between;
}

.articleTitle {
    font-size: 0.8rem;
}

.totalSum {
    font-weight: bold;
    margin-bottom: 40px;
    padding: 10px;
    background-color: var(--header-footer-color);
    border-radius: 20px;
}

.startDate{
    width: 30%;
    margin-bottom: 40px;
}

.noArticle {
    background-color: var(--header-footer-color);
    border-radius: 20px;
}

.contactDetails {
    width: 50%;
}

@media screen and (max-width: 960px) {
    .box {
        width: 85%;
    }
    .article {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    };
    .articleResume {
        padding: 10px;
        justify-content: space-between;
    }
    .imageContainer {
        display: none;
        width: 0;
        img {
            display: none;
        }
    }
    .contactDetails {
        width: 90%;
    }
}