.grid {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 350px);
    grid-auto-columns: repeat(3, 350px);
    gap: 20px;
}

h1 {
    text-transform: uppercase;
}

.contentCard {
    width: 1130px;
}

@media only screen and (max-width: 500px) {
    .grid {
        grid-template-columns: none;
        grid-auto-columns: none;
    };
    .contentCard {
        width: auto;
    }
}