.header {
    background-color: var(--header-footer-color);
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 100;
};

a {
    text-decoration: none;
}

.cart {
    flex-wrap: wrap;
}

.cartLength {
    background-color: var(--main-background-color);
    display: inline-flex;
    color: var(--text-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: bold;
}

button {
    font-weight: bold;
};

.navBurger {
    display: none;
}

// RESPONSIVE
@media screen and (max-width: 960px) {
    .navLinks{
        display: none;
        flex-direction: column;
        z-index: 100;
        background-color: var(--text-color);
        border: var(--logo-blue) 3px solid;
        border-radius: 20px;
        margin: 100px 10px 0 0;
        button {
            width: 100%;
            margin: 5px 15px 5px 0px;
            border: var(--header-footer-color solid 3px);
        }
    }
    .navBurger {
        display: block;
    }
}