.popupBox {
    display: grid;
    position: fixed;
    place-items: center;
    left:0;
    top:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
};

.box {
    width: 60%;
    top: 20%;
    right: auto;
    min-height: 200px;
    max-height: 90%;
    height: auto;
    bottom: 20%;
    border: 1px solid var(--logo-blue);
    background-color: var(--main-background-color, 1);
    border-radius: 10px;
    margin: 20% auto;
    overflow: auto;
}

.newsletterForm {
    width: 80%;
}

.btnClose {
    cursor: pointer;
    position: fixed;
    top: 7%;
    right: 25%;
    font-size: 1.5rem;
}

input {
    border-radius: 5px;
    width: 100%;
}

img {
    width: 35%;
}

// RESPONSIVE
@media screen and (max-width: 790px){
    .box {
        width: 60%;
        top: 20%;
        right: auto;
    }

    input {
        width: 100%;
    }
}