html {
  --theme-darkest-blue: #13294b;
  --theme-dark-blue: #003E51;
  --background-blue: #3a8291;
}

:root {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: var(--background-blue);
}

#logo-accueil {
  height: auto;
  width: 50%;
  margin: 2%;
}

h1 {
  color: white;
  font-size: 4rem;
}

p {
  font-size: 2.5rem;
}

a {
  color: white;
  text-decoration: underline;
}

#presentation, #engagement {
  text-align: justify;
}

#downloads {

  text-align: center;
}

#slogan {
  font-size: 4rem;
}

.image-noel {
  height: auto;
  width: 100%;
}

figcaption {
  font-size: 2rem;
  font-style: italic;
}

#web-developpement {
  text-align: right;
  font-size: 1.5rem;
  font-style: italic;
}
