html {
  --theme-darkest-blue: #13294b;
  --theme-dark-blue: #003E51;
}

@font-face {
  font-family: "Bodoni MT Condensed";
  src: url(fonts/bod_cr.ttf);
}

:root {
  font-family: Bodoni MT Condensed;
  color: white;
  background-image: url(/background.jpg);
  background-position: center;
  background-size: cover;
}

#logo-accueil {
  height: 50vh;
  margin: 2%;
}

h1 {
  color: white;
  font-size: 4rem;
}

p {
  font-size: 2.5rem;
}

a {
  color: white;
  text-decoration: underline;
}

#presentation, #engagement {
  text-align: justify;
}

#downloads {

  text-align: center;
}

#slogan {
  font-size: 4rem;
}

#image-noel {
  height: 70vh;
}

figcaption {
  font-size: 2rem;
  font-style: italic;
}

#web-developpement {
  text-align: right;
  font-size: 1.5rem;
  font-style: italic;
}