html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
    color: var(--text-color);
    overflow-x: hidden;
  }

h1, h2, h3, h4 {
    margin:0;
    color: var(--text-color);
}

h1 {
    text-align: center;
}

p {
    font-size: 1.3rem;
}

* {
box-sizing: border-box;
:target {
    scroll-margin-top: 150px;
}
}

ul {
    list-style: none;
    padding-left: 0px;
    margin: 0;
}

img {
    max-width: 100%;
}