.container {
    max-width: 1200px;
    margin-top: 120px;
    margin-right:auto;
    margin-left: auto;
    margin-bottom: auto;
    width: 100%;
}

.w-33 {
    width: 33%;
}

// PADDINGS
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.py-10{
    padding: 10px 0px 10px 0px;
}

// MARGIN
.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

//MARGIN LEFT
.ml-5 {
    margin-left: 5px;
}

// MARGIN RIGHT
.mr-5 {
    margin-right: 5px;
}

.mr-15 {
    margin-right: 15px;
}

// MARGIN TOP
.mt-100 {
    margin-top: 100px;
}
.mt-50 {
    margin-top: 50px;
}

// MARGIN BOTTOM
.mb-10{
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}

.mb-50 {
    margin-bottom: 50px;
}

// MARGIN TOP BOTTOM
.my-100 {
    margin-bottom: 100px;
    margin-top: 100px;
}

.my-15 {
    margin-bottom: 15px;
    margin-top: 15px;
}

// RESPONSIVE
.show {
    display: flex;
}