html {
    --header-footer-color: #08a2fe;
    --main-background-color: #ccf2ff;
    --text-color: #13294b;
    --font-family: 'Montserrat', sans-serif;
    --logo-blue: #081634;
    --text-main-color: #003E51;
  }