html {
    --logo-blue: #1d3e8b;
    --header-footer-color: #82ccdd;
    --main-background-color: #ccf2ff;
    --text-color: #13294b;
    --text-main-color: #003E51;
    --font-family: 'Montserrat', sans-serif;
  }